<!DOCTYPE html>

{% load staticfiles %}

<html lang="eng">

    <head>
        <title>All About Vancouver</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{% static 'vancouver/css/bootstrap.min.css' %}" />
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'vancouver/css/style.css' %}" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	    <script type="text/javascript" src="{% static 'vancouver/js/jquery.js' %}"></script>
	    <script type="text/javascript" src="{% static 'vancouver/js/bootstrap.min.js' %}"></script>
	    <script type="text/javascript" src="{% static 'vancouver/js/modal.js' %}"></script>

	    <!-- Script for Google Map Functionality -->
	    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
	    <script>
		var geocoder;
		var directionsService;
		var directionsDisplay;
		var myPos;
		var myDir;
		var map;
		var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';

		function initialize() {
			// setting the map itself such as start-up location and zoom value
			var mapCanvas = document.getElementById('map-canvas');
			var mapOptions = {
				center: new google.maps.LatLng(49.2402, -123.1138),
				zoom: 11,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			}
			map = new google.maps.Map(mapCanvas, mapOptions);
			// directionsDisplay.setMap(map);

			// Show traffic layers
			var trafficLayer = new google.maps.TrafficLayer();
			trafficLayer.setMap(map);

			// Show all parks
			getParks(map)

			geocoder = new google.maps.Geocoder();
		    directionsService = new google.maps.DirectionsService();
		    directionsDisplay = new google.maps.DirectionsRenderer({
		        suppressMarkers: true
		    });
		    directionsDisplay.setMap(map);
		    directionsDisplay.setPanel(document.getElementById("directionsPanel"));

			// Try HTML5 geolocation
			if(navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(function(position) {
					// var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
					myPos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
					var myMark = new google.maps.Marker({
						map: map,
						// position: pos,
						position: myPos,
						icon: iconBase + 'man_maps.png',
						title: 'My Current Location.',
					});
					// map.setCenter(pos);
				}, function() {
					handleNoGeolocation(true);
				});
			} else {
				// Browser doesn't support Geolocation
				handleNoGeolocation(false);
			}
		}

		// This function gets the list of all of Vancouver parks
		function getParks(map) {
			var infowindow = new google.maps.InfoWindow();
			// dirinfoWindow = new google.maps.InfoWindow();

			"{% for park in Parks %}"
				var pLatLng = new google.maps.LatLng("{{ park.lat }}", "{{ park.lon }}");
				// myDir = new google.maps.LatLng("{{ park.lat }}", "{{ park.lon }}");
				var marker = new google.maps.Marker({
					position: pLatLng,
					map: map,
					icon: iconBase + 'parks_maps.png',
					title: "{{ park.pName }}",
				});
				var content = 
				'<div id="content">'+
					'<h4 id="title">{{ park.pName }}</h4>'+
					'<p><b>Address: </b> {{ park.streetNumber }} {{ park.streetName }} Vancouver</p>'+
					'<button onclick="getDir(myPos, myDir)">Get Direction</button>'+
					'<input type="hidden" id="dest" value="'+ pLatLng + '"/>'+
				'</div>';

				google.maps.event.addListener(marker, 'click', (function(marker, content, infowindow) {
					return function() {
						infowindow.setContent(content);
						infowindow.open(map, marker);
					};
				})(marker, content, infowindow));
			"{% endfor %}"
		}

		function getDir() {
            var origin = myPos;
            var destination = document.getElementById("dest").value;

            var mapOptions = {
				center: new google.maps.LatLng(49.2402, -123.1138),
				zoom: 11,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			}

			// map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);

            var request = {
                origin: origin,
                destination: destination,
                travelMode: google.maps.DirectionsTravelMode.DRIVING
            };

            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                }
            });
		}

		// This function handles error when my location service is not working
		function handleNoGeolocation(errorFlag) {
			if (errorFlag) {
				var content = 'Error: The Geolocation service failed.';
			} else {
				var content = 'Error: Your browser doesn\'t support geolocation.';
			}
		}

		google.maps.event.addDomListener(window, 'load', initialize);
		</script>
    </head>

    <body>

    {% block content %}
    {% endblock %}

	</body>
</html>