{% load custom_tags %}

<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">AAV</a>
			</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<form action="/" method"GET" class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<label class="radio-inline"><input type="radio" name='parkBox' id='parkBox'>Parks</label>
					<button type="submit" class="btn btn-default">Get!</button>
				</div>			
			</form>
			<form action="/search/" method"GET" class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<select name="query_type" class="form-control">
						<option value="Park">Park</option>
						<option value="Facility">Facility</option>
					</select>
					<input type="text" name="query_string" id="query_string" class="form-control" placeholder="Search"/>
					<button type="submit" class="btn btn-default">Search</button>
				</div>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#myModal" data-toggle="modal" data-target="#myModal">Weather</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>