{% extends "base.html" %}

{% block content %}
{% load custom_tags %}

	{% include "navbar.html" %}
    <div class="container-fluid" id="main">
		<div class="row">
			<div class="col-md-5">
			    <center><div id="map-canvas"></div></center>
			    <!-- <center><div id="directionsPanel"></div></center> -->
			</div>

			<div class="col-md-7">
				<table class="table table-stripped table-fixedheader" id="park">
					<thead>
						<tr id="park">
							<th class="col-xs-3">Park</th>
							<th class="col-xs-5">Address</th>
							<th class="col-xs-4">Facility(#)</th>
						</tr>
					</thead>
					<tbody id="park">
						{% for pID in parkIDs %}
							<tr id="park">
								<td class="col-xs-3">{{ names|get_value:pID }}</td>
								<td class="col-xs-5">{{ streetNumbers|get_value:pID }} {{ streetNames|get_value:pID }} Vancouver, BC</td>
								<td class="col-xs-4">
								{% for facility in facilities|get_value:pID %}
									<li>{{ facility }}</li>
								{% endfor %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		
		</div>
	</div>

	<div class="modal fade modal-wide" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 class="modal-title">Vancouver Weather</h3>
				</div>
				<div class="modal-body">
					{% include "weather.html" %}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}