{% extends "base.html" %}

{% block content %}
{% load custom_tags %}

	<div class="container">
		<h1>Welcome to All About Vancouver</h1>

		<div class="search">
			<form action="/park/" method"GET">
				<input type='checkbox' name='parkBox' id='parkBox'> Parks
				<button type="submit">Get!</button>			
			</form>
			<form action="/search/" method"GET">
				<label>SEARCH: </label>
				<select name="query_type">
					<option value="Park">Park</option>
					<option value="Facility">Facility</option>
				</select>
				<input type="text" name="query_string" id="query_string"/>
				<button type="submit">Search</button>
			</form>
		</div>
	</div>

	<p>
	{% if query_string %}
		*Showing parks containing {{ query_type }} "{{ query_string }}"
	{% endif %}
	</p>
	
    <div id="map-canvas"></div>

	<div class="col-md-7">
		<table class="table table-responsive" id="list">
			<thead>
				<th>Park</th>
				<th>Address</th>
				<th>Facility(#)</th>
				<!-- <th>#</th> -->
			</thead>
			<tbody>
				{% for pID in parkIDs %}
					<tr>
						<td>{{ names|get_value:pID }}</td>
						<td>{{ streetNumbers|get_value:pID }} {{ streetNames|get_value:pID }} Vancouver, BC</td>
						<td>
						{% for facility in facilities|get_value:pID %}
							<li>{{ facility }}</li>
						{% endfor %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	
{% endblock %}