body, html {
	height: 100%;
	width: 100%
}

#map-canvas {
	/*width: 40%;*/
    /*height: cal(100%-0);*/
    width: 530px;
    height: 700px;
    /*position: absolute;*/
    /*right: 0px;*/
    /*top: 54px;*/
    /*bottom: 0;*/
    overflow: hidden;
}

#directionsPanel {
          position: absolute;
          top: 0px;
          right: 0px;
          width: 50%
}

.modal.modal-wide .modal-dialog {
	width: 90%;
}

table.table-fixedheader>thead {
	/*display: block;*/
}

table.table-fixedheader>tbody {
    display: block;
}

table.table-fixedheader>tbody {
    overflow-y: auto;
    height: 700px;
}

table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>tr>td {
    float: left;
    /*text-align: center;*/
    /*width: 100px;*/
}
